.plan-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 0px 10px var(--primaria);
    padding: 15px;
    position: relative;

    & .selo-recomendado {
      display: inline-block;
      background-color: #ffb400;
      color: #000;
      font-size: 0.7rem;
      font-weight: bold;
      padding: 4px 6px;
      border-radius: 10px;
      margin-left: 8px;
      position: absolute;
      top: 2px;
      left: 20px; 
    }
  }

  .plan-card h2 {
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--quarta);
  }

  .plan-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .plan-card li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;

    & i{
        color: var(--quarta);
    }

  }

  .plan-card del{
    font-size: 0.8rem;
  }

  .valor{
    font-weight: bold;
  }


  .plan-card .price {
    font-weight: bold;
  }

  .plan-card del {
    margin-right: 5px;
  }