.hero-section{
    width: 100%;
    height: 100vh;
    height: 100svh;
    position: relative;
    overflow: hidden;
    margin-top: 0;
    padding-top: 80px;
}

.banner-bg{
    background: url(../../../../assets/homem-fazendo-seu-proximo-movimento.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    height: 100svh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner-bg::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(6, 20, 38, 0.5);
}

.initial-text{
    width: 100%;
    height: 100vh;
    height: 100svh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    color: var(--textcolor1);
    z-index: 2;

    & h1{
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--quarta);
        font-family: 'Roboto Slab', serif;
        text-shadow: var(--textcolor2) 2px 0px 4px;
    }

    & h2{
        font-size: 1.5rem;
        font-family: 'Roboto Slab', serif;
        text-shadow: var(--textcolor2) 2px 0px 4px;
    }


    & p{
        font-size: 1rem;
        max-width: 80%;
        line-height: 1.5em;
        text-shadow: var(--textcolor2) 2px 0px 5px;
    }

    & a{
        overflow: hidden; 
        position: relative;
        z-index: 2;
        display: inline-block;
        text-decoration: none; 
        padding: 1rem 1.5rem;
        font-size: 1rem;
        background-color: var(--secundaria);
        color: var(--textcolor1); 
        transition: color 0.4s ease-in-out; 
        border-radius: 3px;
        box-shadow: var(--terciaria) 2px 0px 5px;
    }

    & a::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%; 
        height: 100%;
        background-color: var(--terciaria); 
        transition: width 0.4s ease-in-out;
        z-index: -1; 
    }

    & a:hover {
        color: var(--textcolor2); 
    }

    & a:hover::after {
        width: 100%; 
    }
}



@media (min-width: 720px){

    .initial-text{ 
        gap: 3rem;
    }

    .initial-text p{
        max-width: 35%;
    }
}