@media (min-width: 800px) {

    .plans-table thead {
      color: var(--textcolor2);
      background-color: var(--quarta);
      position: relative;
      height: auto;
    }

    .plans-table th,
    .plans-table td {
      padding: 13px;
      text-align: center;
      border-bottom: 1px solid #eee;

      & i{
        color: var(--quarta);
      }
    }


    .plans-table td del{ 
      font-size: 0.8rem;
    }

    .plans-table td:first-child {
      text-align: left;
      font-weight: bold;
    }

    .plans-table .destaque {
      background-color: #f8faff;
      font-weight: 600;
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    td.destaque{
      display: flex;
      align-items: center;
    }
    
    .plans-table th.destaque {
      background-color: var(--quarta);
      color: white;
      padding-bottom: 30px;
    }
    
    .selo-recomendado {
      display: inline-block;
      background-color: #ffb400;
      color: #000;
      font-size: 0.7rem;
      font-weight: bold;
      padding: 4px 6px;
      border-radius: 10px;
      margin-left: 8px;
      position: relative;

    }
    
    .plans-table .destaque {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    }

    .price{
      display: flex;
      flex-direction: column;

      & span{
        font-weight: bold;
      }
    }


  }

  @media (min-width: 1100px) {
    .selo-recomendado{
      max-width: 55%;
    }
  }

  @media (max-width: 799px) {
    .desktop-only {
      display: none;
    }
  }

