footer{
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    color: var(--textcolor2);
    background: var(--quarta);
    overflow-x: hidden;
    grid-area: footer;
}

.footer-content{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    text-align: center; 
    padding: 1em 2em;
}


.footer-contacts{
    margin-bottom: 0.5em;
    font-size: 1em;
    & img{
        width: 50px;
        margin-bottom: 0.5em;
    }
}

.footer-social-media{
    display: flex;

    justify-content: center;
}

.footer-link{
    width: 50%;
    text-decoration: none;
}

.footer-social-media .footer-link{
    height: 2em;
    width: 2em;
    color: var(--textcolor2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-media .footer-link i{
    font-size: 1.5rem;
}

.footer-social-media .footer-link:hover{
    opacity: 0.5;
    transition: 0.4s;
    cursor: pointer;
}

.footer-list{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.5rem;
}

.footer-list h3, .footer-contacts h1, .footer-subscribe h3{
    color: var(--textcolor1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
}

.footer-contacts img{
    width: 100px;
    margin-bottom: 0.5em;
}

.footer-list .footer-link{
    color: var(--textcolor2);
    text-decoration: none;
    font-weight: 500;
}

.footer-list .footer-link:hover{
    color: var(--terciaria);
    transition: 0.4s;
}


.footer-copyright{
    display: flex;
    justify-content: center;
    background: var(--quarta);
    font-size: 0.9rem;
    padding: 1em;
    font-weight: 100;
}

@media (min-width: 720px){ 
    .footer-content{
        grid-template-columns: repeat(2, 1fr);
        padding: 2em 4em;
    }

}

@media (min-width: 1020px){
    .footer-content{
        grid-template-columns: repeat(4, 1fr);
    }
}