.about-section{
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--secundaria);
}

.about-title{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin: 2rem 0;
}

.about-title h1{
    font-size: 2.5rem;
    color: var(--textcolor1);
    text-shadow: var(--textcolor2) 2px 0px 5px;
}

.about-title h2{ 
    font-size: 1.5rem;
    color: var(--textcolor1);
    margin-top: 2rem;
    text-transform: uppercase;
    text-shadow: var(--textcolor2) 2px 0px 5px;
}

.about-title h2::before{
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background: var(--quarta);
    margin: 1rem auto;
}

.about-qd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    color: var(--textcolor1);
    font-size: 1rem;
    line-height: 1.5rem;
    gap: 2rem;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0cm 5px 10px var(--primaria);
    border-radius: 1rem;
}

@media (min-width: 720px){ 
    .about-qd{
        max-width: 50%;
    }
}