*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background-color: var(--primaria);
}

:root{ 
  --primaria: #061426;
  --secundaria: #091B40;
  --terciaria: #E4EAF2;
  --quarta: #13B3F2;
  --textcolor1: #FFFFFF;
  --textcolor2: #000000; 
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input, select, textarea, button {
  font-size: 16px;
}
